* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    width: 100%;
    height: 75px;
    margin: 5px;
    padding: 10px;
    border-width: 1px 0;
    background-color: #505D61;
    border-style: solid;

}

nav .logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav .logo p {
    float: left;
    color: #fff;
    text-transform: uppercase;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    float: right;
    margin-top: 15px;
}

.table h1 {
    text-align: center;
    text-decoration: underline;
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    margin-left: 200px;
    width: 50px;
    height: 30px;
    padding: 10px;
    border-radius: 5%;
    outline: 0;
}

.table {
    color: #fff; 
    font-size: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #2c5f78;
}

.radio {
    background: #98c1d9;
    color: rgba(0, 0, 0, 0.925);
    font-size: 15px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
}

.dropdown {
    background: #98c1d9;
    color: rgba(0, 0, 0, 0.925);
    font-size: 15px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

.text {
    background: #98c1d9;
    color: rgba(0, 0, 0, 0.925);
    font-size: 15px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

.checkbox {
    background: #98c1d9;
    color: rgba(0, 0, 0, 0.925);
    font-size: 15px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

form {
    background: #98c1d9;
    color: rgba(0, 0, 0, 0.925);
    font-size: 15px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

textarea {
    width: 500px;
    height: 200px;
}

.area {
    padding: 3% 2% 1%;
    margin: 1%;
    background-color: #fff;
}

.file {
    background: #98c1d9;
    color: rgba(0, 0, 0, 0.925);
    font-size: 15px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

.button a {
    font-size: 15px;
    width: 15%;
    background: green;
    color: #fff;
    border-radius: 5px;
    margin-left: 1px;
    padding: 5px;
}

h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

h3 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    width: 100%;
    background: #828385;
    display: inline-block;
    font-size: 12px;
    color:white;
    padding: 0 15px;
    margin-top: 5%;
    text-align:center;
}

footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}